.game-preloader__component
  position absolute
  display flex
  flex-flow row nowrap
  top 0
  left 0
  width 100%
  min-height 100vh
  background-color rgb(0,0,0)
  z-index 100

.game-preloader__title
  display inline-block
  margin auto auto
  font-family 'Amatic SC', cursive
  color rgb(255,255,255)