.hud-component
  display block
  position absolute
  min-width 221px
  top 0
  left 0
  padding 10px

.hud-component__hero-status
  position relative
  float left
  width 119px
  height 28px

.hero-status__bg
  position absolute
  top 10px
  left 0
  width 119px
  height 28px
  background rgb(123,112,105)

.hero-status__lines
  position absolute
  width 119px
  height 84px
  background url('./char_hud_status.png')

.hud-component__hero-left-angle
  width 20px
  height 84px
  float left
  background url('./char_hud_left_angle.png')