hero-ava(status-name="lvl_value").hud-component__hero-ava
.hud-component__hero-status
    .hero-status__bg
    status-line.hero-status-line.hero-status-line_first(
        status-name="hero_health",
        style="background: url('../img/hud/char_hud_status_red.png') no-repeat"
    )
    status-line.hero-status-line.hero-status-line_second(
        status-name="hero_mana",
        style="background: url('../img/hud/char_hud_status_blue.png') no-repeat"
    )
    .hero-status__lines
.hud-component__hero-left-angle