.ui-menu-bar
  width 129px
  height 44px
  background url('/img/menu/menu_bar_bg.png') no-repeat

.ui-menu-bar__item
  position absolute
  display block
  width 26px
  height 26px
  top 10px

  &_right
    right 16px
    background url('/img/menu/menu_button_options.png')

  &_center
    right 52px
    background url('/img/menu/menu_button_rating.png')

  &_left
    right 88px
    background url('/img/menu/menu_button_chat.png')

  &:hover
    opacity .9
    cursor url('/img/cursor-pointer.png'), pointer