.hero-status-line
  display block
  position absolute
  left 0
  width 100%
  height 12px
  transition width 250ms ease-in-out 0s

  &_first
    top 13px
  &_second
    top 27px

.hero-status-line__value
  position absolute
  overflow hidden
  width 119px
  letter-spacing 2px
  font-size 10px
  text-align center
  color rgb(255,255,255)