section.login-wrap
  login-form.login-form
  a.login-wrap__github-link(href='https://github.com/True-Battle/web-client' target='_blank')
    i.icon-github-circled.icon_grey.icon_middle.icon_hovered.icon_hovered-white