*
  margin 0
  padding 0
  cursor url('/img/cursor-auto.png'), auto

html
  font-size 1em
  border none

a:visited
  color inherit

.button
  display inline-block
  padding 8px

.icon_grey
  color #b4b4b4

.icon_big
  font-size 64px

.icon_middle
  font-size 32px

.icon_small
  font-size 8px

.icon_hovered
  transition color 250ms ease-in-out 0s

.icon_hovered-white:hover
  color #fff