.hud-component__hero-ava
  display block
  width 82px
  height 84px
  float left

.hero-ava
  position absolute
  display block
  width 82px
  height 84px

  &__bg
    background url('./char_hud_ava_bg.png')
  &__ava
    background url('./ava_default.png') no-repeat center
  &__ava-surface
    background url('./char_hud_ava.png')

.ava-surface__sub-ava-value
  position absolute
  display block
  width 16px
  height 12px
  left 34px
  bottom 8px
  text-align center
  font-size 12px
  letter-spacing 1px
  color rgb(255,255,255)