doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      title Game
      base(href="/")
      link(rel="icon", href="/favicon.png")
      link(rel="stylesheet", href="/fontello/css/fontello.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amatic+SC|Ravi+Prakash")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans")
      script(src="/vendor/modernizr/modernizr.min.js")
      script(src="/vendor/socket-io/socket.io-1.4.5.js")
      script(src="/vendor/angular/angular.min.js")
      script(src="/vendor/angular-cookies/angular-cookies.min.js")
      script(src="/vendor/angular-ui-router/release/angular-ui-router.min.js")
      script(src="/vendor/javascript-state-machine/dist/state-machine.js")
      script(src="main.bundle.js")
   body(ng-app="app")
      app-root